body
{
  margin: 0;
  padding: 0;
  background-color: mistyrose;
  background-image: url("OS5.gif");
  background-size: cover;
}

h1 
{
  text-shadow: 2px 2px 4px #000000;
  color: powderblue;
  text-align: center;
  font-size: 4.5em;
  position: relative;
  z-index: 1;
	
}

p
{
  text-shadow: 2px 2px 4px #000000;
  color: powderblue;
  text-align: center;
  font-size: 3em;
  position: relative;
  z-index: 1;
  font-family: 'Poppins';
}

